body {
font-family: 'Ubuntu Mono';
color: white;
background-image: url('./img/looppic5.png');
text-align:center;
margin-top: 14px;

overflow-y: hidden; /* Hide vertical scroll bar */
overflow-x: hidden; /* Hide horizontal scroll bar */

-moz-transition: transform 1s; 
-webkit-transition: transform 1s;  
-ms-transition: transform 1s;  
-o-transition: transform 1s;  
transition: transform 1s;  

animation: pulse 1.8s ease  ; /*infinite   alternate*/

}
@keyframes pulse {
  0% {
    background-color: red;
    opacity: 0.3;
      }
  40% {
    background-color: #ad7f7f;
   
  }
}


a {
  text-decoration: none;
  color: #fa8d8f;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:  #38d9ae;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}


canvas {
    font-family: 'Ubuntu Mono';
    border: 3px groove #1e8bd3;
    background-color: black;
    background-image: url('./img/galaxloop_2x.gif'); /* galaxloop_2x.gif */

 /*   height: 318px;       318 height of the loopgif*/
 /*   width: 40%;*/
    position: center; 
    align-items: center;
    display: inline;
}

#title1 {
    font-size: 37px;
    font-family: 'Ubuntu Mono';
    padding: 21px;
}


main {
    padding: 11px;
    margin: 13px;
}


p {
    padding: 11px;
    margin: 5px;
    color: #fa8d8f;
    background-color: black;
    position: center; 
    align-items: center;
  border-radius: 45px 45px 45px 45px;
  border: solid  2px #38d9ae ;
}

@media (max-width: 1100px) {
      main, p, a {
   font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
      main, p, a {
   font-size: 0.7rem;
    }
}

@media (max-width: 800px) {
     canvas {
   height: 518px; 
    }
}
@media (max-width: 600px) {
     canvas {
   height: 318px; 
   margin-top: 20px;
    }
}
@media (max-width: 400px) {
     canvas {
   height: 218px; 
   margin-top: 40px;
    }
}

#startbutton {
    padding: 21px;
    margin: 3px;
  color: red;
    background-color: black;
    position: center; 
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    border: solid  2px #38d9ae ;
}

#startbutton, a:not(.backArrow){
    padding: 21px;
    margin: 3px;
    color: red;
    background-color: black;
    position: center; 
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    border: solid  1px red ;
}
a:hover {
  text-decoration: none;
  color:  #38d9ae;
  transition: all 0.9s linear;
  transition-delay: 0.1s;
  text-shadow: 2px 2px 5px green;
}


.howtoplay img{
    margin: 45px;
    height: 182px;
}
