body {
font-family: 'Ubuntu Mono';
color: white;
background-image: url('./img/looppic5.png');
text-align:center;
margin-top: 62px;

-moz-transition: transform 1s; 
-webkit-transition: transform 1s;  
-ms-transition: transform 1s;  
-o-transition: transform 1s;  
transition: transform 1s;  

animation: pulse 1.8s ease  ; /*infinite   alternate*/

}
@keyframes pulse {
  0% {
    background-color: red;
    opacity: 0.3;
      }
  40% {
    background-color: #ad7f7f;
   
  }
}


a {
  text-decoration: none;
  color: #fa8d8f;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:  #38d9ae;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}


canvas {
    font-family: 'Ubuntu Mono';
    border:1px solid #d3d3d3;
    background-color: black;
    background-image: url('./img/galaxloop_2x.gif');
    position: center; 
    align-items: center;
    display: inline;
}

#title1 {
    font-size: 37px;
    font-family: 'Ubuntu Mono';
    padding: 21px; 
}

header {
    font-family: 'Ubuntu Mono';
    padding: 11px;
    margin: 33px;
}
@media (max-width: 600px) {
    header {
       justify-content: space-around;
    }
}

#frontship {
    border:1px solid #d3d3d3;
}

main {
    padding: 11px;
    font-family: 'Ubuntu Mono';
}


p {
    font-family: 'Ubuntu Mono';
    padding: 11px;
    margin: 23px;
    color: #fa8d8f;
    background-color: black;
    position: center; 
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    border: solid  2px #38d9ae ;
}


.buttonstart {
    font-size: 27px;
    font-family: 'Ubuntu Mono';
    padding: 21px;
    margin: 33px;
    background-color: black;
    position: center; 
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    border: solid  5px #38d9ae ;
}

#startbutton {
    font-family: 'Ubuntu Mono';
    padding: 21px;
    margin: 33px;
  color: red;
    background-color: black;
    position: center; 
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    border: solid  2px #38d9ae ;
}

#startbutton, a:not(.backArrow){
    font-family: 'Ubuntu Mono';
    padding: 21px;
    margin: 33px;
    color: red;
    background-color: black;
    position: center; 
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    border: solid  1px red ;

    animation: pulse 1s ease alternate infinite; /*infinite   alternate*/
}
@keyframes pulse  {
  0% {
    background-color: red  ;
    opacity: 0.1;
      }
  40% {
    background-color: #0256b0 ;
   
  }
}

.howtoplay img{
    font-family: 'Ubuntu Mono';
    margin-top: 45px;
    padding-left: 20px;

    height: 182px;
}
